@model IEnumerable<MoviesTestPre.DTO.MarkDto>

@{
    ViewBag.Title = "Movies";
}

<div class="page-header">
    <h2>Marks</h2>
</div>
<div class="table-responsive">
    <a href="@Url.Action("Create", "Mark")" class="btn btn-link">
        <span>Create</span>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Comment</th>
                <th>User</th>
                <th>Movie</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var markDto in @Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", "Mark", new {id = markDto.Id})" class="btn btn-link">
                                <span>@markDto.Comment</span>
                            </a>
                        </td>
                        <td>@markDto.UserName</td>
                        <td>
                            @Html.Action("_MovieName", new { movieId = markDto.MovieId })
                           
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
